[alias]
  co = checkout
  ci = commit
  st = status -uno
  br = branch
  type = cat-file -t
  dump = cat-file -p
  lg = log --graph --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  unstage = rm --cached
  staash = stash --all
  undo = reset --soft HEAD^
[color]
  ui = true
[man]
  viewer = man
[stash]
  showPatch = true
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[diff]
  colorMoved = default
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c '$wincmd L'
[delta]
  side-by-side = true
  navigate = true
  light = false
[merge]
  tool = nvimdiff4
  prompt = false
[mergetool "nvimdiff4"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c '$wincmd J'
[pull]
  rebase = true
