[user]
  name = Arkady Rost
  email = 1239844+arkrost@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAvP0r0e6WDYJznVngZX5IyrBBgI0UCKn8ZFIviFpt0e
[alias]
  co = checkout
  ci = commit
  st = status -uno
  br = branch
  type = cat-file -t
  dump = cat-file -p
  lg = log --graph --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  unstage = rm --cached
  staash = stash --all
[color]
  ui = true
[man]
  viewer = man
[stash]
  showPatch = true
[core]
  pager = delta
[delta]
  side-by-side = true
  navigate = true
[pull]
  rebase = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
  gpgsign = true
