{
  :devices {
    :apple-kbd [
      {:product_id 834 :vendor_id 1452}
      {:product_id 668 :vendor_id 76}
    ]
  }
  :main [
    { :des "internal keyboard"
      :rules [
        [:condi :apple-kbd]
        ;CAPSLOCK is RIGHT CTRL if pressed in combination, otherwise ESC
        [:##caps_lock :right_control nil {:alone :escape}]
        ; RIGHT_COMMAND is enter if pressed alone
        [:right_command :right_command nil {:alone :return_or_enter}]
        ; Arrows with RIGHT_COMMAND + hjkl
        [:!Q##h :left_arrow]
        [:!Q##j :down_arrow]
        [:!Q##k :up_arrow]
        [:!Q##l :right_arrow]
      ]
    }
  ]
}
