{
  :devices {
    :apple-kbd [
      {:product_id 834 :vendor_id 1452}
      {:product_id 668 :vendor_id 76}
    ]
  }
  :main [
    { :des "internal keyboard"
      :rules [
        [:condi :apple-kbd]
        ;CAPSLOCK is RIGHT_CONTROL if pressed in combination, otherwise ESC
        [:##caps_lock :right_control nil {:alone :escape}]
        ; RIGHT_COMMAND is enter if pressed alone
        [:right_command :right_command nil {:alone :return_or_enter}]
        ; RIGHT_OPTION is LEFT_SHIFT
        [:right_option :left_shift nil]
        ; RIGHT_SHIFTH to LEFT_OPTION
        [:right_shift :left_option]
        ; RIGHT_COMMAND mode
        [:!Q##j :left_arrow]
        [:!Q##k :down_arrow]
        [:!Q##i :up_arrow]
        [:!Q##l :right_arrow]
        [:!Q##o :!Oright_arrow]
        [:!Q##u :!Oleft_arrow]
      ]
    }
  ]
}
