{
  :layers {
    :raise-mode {:key :right_command}
  }
  :main [
    { :des "CAPSLOCK is LEFT CTRL if pressed in combination, otherwise ESC"
      :rules [
        [:##caps_lock :left_control nil {:alone :escape}]
      ]
    }

    { :des "raise layer"
      :rules [:raise-mode
        [:##h :left_arrow]
        [:##j :down_arrow]
        [:##k :up_arrow]
        [:##l :right_arrow]
      ]
    }
  ]
}
